<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Público</title>
  </head>
  <body>
    <!--Encabezado para el PÚBLICO-->
    <header class="encabezado">
      <h1>Mar y fresh</h1>
      <nav class="ap1">
        <ul>
          <li>
            <a href="#"><b>Inicio</b></a>
          </li>
          <li>
            <a href="#"><b>Productos</b></a>
            <ul>
              <li>
                <a href="#"><b>Helados</b></a>
              </li>
              <li>
                <a href="#"><b>Paletas</b></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><b>Quiénes somos</b></a>
          </li>
        </ul>
      </nav>
      <nav class="ap2">
        <ul>
          <li>
            <a href="#"><b>Iniciar sesión</b></a>
          </li>
          <li>
            <a href="#"><b>Registrarse</b></a>
          </li>
        </ul>
      </nav>
    </header>

    <!--Pie de pagina para el PÚBLICO-->
    <footer>
      <nav class="redes">
        <p><b>Redes sociales</b></p>
        <ul>
          <li>
            <a href="#"><img src="#" /></a>
          </li>
          <li>
            <a href="#"><img src="#" /></a>
          </li>
        </ul>
      </nav>

      <div class="direcciones">
        <p>Direccion: avenida Lopez mateo, calle 13, norte de Veracruz xd</p>
      </div>

      <div class="politicas">
        <a href="#"><b>Politicas de privacidad</b></a>
        <a href="#"><b>Preguntas frecuentes</b></a>
      </div>

      <div class="Mapa">
        <p>Ubicacion geográfica</p>
        <!--iframe pendiente -->
        <iframe
          src="https://www.google.com/maps/place/21%C2%B009'16.0%22N+98%C2%B022'50.8%22W/@21.1544444,-98.3807778,17z/data=!3m1!4b1!4m4!3m3!8m2!3d21.1544444!4d-98.3807778?hl=es&entry=ttu"
          allowfullscreen=""
        ></iframe>
      </div>
    </footer>
  </body>
</html>
