<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador</title>
  </head>
  <body>
    <!--Mestra el apartado de encabezado para el administrador-->
    <header class="encabezado">
      <h1>Mar y fresh</h1>
      <nav>
        <ul>
          <li><a href="#">Usuarios</a></li>
          <li><a href="#">Cerrar sesión</a></li>
        </ul>
      </nav>
    </header>

    <!--Muestra el apartado de pie para el administrador -->
  </body>
</html>
